<a href="https://colab.research.google.com/github/FrancescoZanni/MLPNS_FZanni/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#wordle

In [ ]:
target= "acres"
guess = "acrea"
test = ["_"]*5

if target == guess:
  print("Well done, the world was ", goal)
else:
  print("try again")
  for i in range(len(guess)):
    if guess[i]== target[i]:
      test[i]==guess[i]
    elif guess[i] in target:
      test[i] = "*"
  
  print("".join(test))

try again
____*

In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"
df = pd.read_csv(url)  #organizzato in una variabile di tipo dataframe

In [ ]:
df.shape    #numero righe e colonne 
df.columns  #elenca le colonne
df.iloc[2]  #mostra una riga 
df.iloc[:,1] #tutte le righe seconda colonna: data e ora di tutte le chiamate
df.loc[:, "Created Date"] #tutte le righr seleziona la colonna che ha come nome "created date"

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [ ]:
url2="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"
#df = pd.read_csv(url2) non funziona, non è un csv, devo dire a pandas che cosa è il separatore
pd.read_csv(url2, sep="::") #ho un doppio indice, in csv aveva un indice ma pandas lo aggiunge di default
pd.read_csv(url2, sep="::", index_col=0)  #ok per l'indice ma mi mette la prima riga di default come header
pd.read_csv(url2, sep="::", index_col=0, header=None) #mette come headers 0 1 2, rimedio creando una lista degli header
movies = pd.read_csv(url2, sep="::", index_col=0, header=None,names = ["title","genre"])  #di default skippa la colonna indice, l'ho chiamato movies

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
len(movies["genre"].unique())   #conto quanti sono i generi unici, anche se in realtà ho combinazioni

301

In [ ]:
#Voglio estrarre l'anno, che è incorporato nel titolo, ma so come farlo perchè lavoro con stringhe
#uso split: taglia una stringa a metà in base al carattere che specifico
#l'ultimo elemento della lista è l'elemento numero -1 (l'end di matlab)
#posso usare replace per rimpiazzare dei caratteri: 
#posso usare strip per togliere l'ultimo carattere se è uguale a un carattere specifico, tipo il punto alla fine della frase 


"Toy Story (1995)".split()[-1].replace("(","").strip(")")

'1995'

In [ ]:
def get_year(mtitle):
  """
  """
  return int (mtitle.split("(")[-1].strip(")"))

In [ ]:
movies["title"].map(get_year)   #applico la funzione alla colonna title di tutto il dataframe

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: title, Length: 3883, dtype: int64

In [ ]:
movies["year"]= movies["title"].map(get_year) #crea la nuova colonna

In [ ]:
movies.groupby("year").count() #raggruppa sulla base di un valore in questo caso dell'anno e conte: ritorna un dataframe!

      title  genre
year
1919      3      3
1920      2      2
1921      1      1
1922      2      2
1923      3      3
...     ...    ...
1996    345    345
1997    315    315
1998    337    337
1999    283    283
2000    156    156

[81 rows x 2 columns]

#Assignment lez.2

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"
colnames = ["title", "genre"]
movies = pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames);
movies

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                   title                         genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [ ]:
prova = ("Animation|Children's|Comedy")
prova.split("|")

['Animation', "Children's", 'Comedy']

In [ ]:

def get_genres(mtitle):
  """
  """
  return mtitle.split("|")

In [ ]:

movies["genre"] = movies["genre"].map(get_genres)

                                   title                             genre
1                       Toy Story (1995)   [Animation, Children's, Comedy]
2                         Jumanji (1995)  [Adventure, Children's, Fantasy]
3                Grumpier Old Men (1995)                 [Comedy, Romance]
4               Waiting to Exhale (1995)                   [Comedy, Drama]
5     Father of the Bride Part II (1995)                          [Comedy]
...                                  ...                               ...
3948             Meet the Parents (2000)                          [Comedy]
3949          Requiem for a Dream (2000)                           [Drama]
3950                    Tigerland (2000)                           [Drama]
3951             Two Family House (2000)                           [Drama]
3952               Contender, The (2000)                 [Drama, Thriller]

[3883 rows x 2 columns]

90